//My color palete
$myprimary: #005689;
$mysecondary: #007CB9 ;
$mybackground: #D5EEFF;
$myhighlight: #FF895D ;
$mydark: #1C304A;
$myyellow: #FCD53F;
$mywhitebg: #F1FAFF ; //cloud whisp

//Fonts
$myfont_roboto: 'Roboto', sans-serif;